<.flash_group flash={@flash} />

<div class="flex flex-col gap-4">
  <%= for compeition <- @compeitions do %>
    <.link href={~p"/#{compeition.id}"} class="font-semibold text-2xl">
      <%= compeition.name %>
    </.link>
  <% end %>
</div>
